.header {
  display: flex;
  justify-content: space-between;

  &__logo-icon {
    font-family: black ops one;
    font-weight: 900;
    font-size: 4rem;
    color: var(--color-primary);
  }
  &__logo-name {
    font-weight: 900;
    font-size: 2.1rem;
    color: var(--color-secondary);
  }

  //   NAVIGATION LINK
  &__navigation {
    display: flex;
    align-items: center;
    gap: 3rem;

    font-weight: 500;
    position: relative;

    &-link {
      cursor: pointer;
      color: var(--color-secondary);
    }
    &-link::before {
      content: "";
      color: red;
      position: absolute;
      top: 10%;
      height: 1rem;
      width: 5rem;
    }
  }
}

.container1 {
  width: 50%;
  margin-top: 10%;
  &__username {
    font-size: 2rem;
    font-weight: 600;

    color: var(--color-secondary);
  }
  &__devtype {
    font-size: 4rem;
    line-height: 4.8rem;

    background: linear-gradient(to right, var(--color-gradient));
    -webkit-background-clip: text;
    color: transparent;
  }
  &__slogan {
    // color: rebeccapurple;
  }
  &__media {
    display: flex;
    gap: 1rem;
    align-items: center;

    margin-top: 4rem;
    padding: 0.5rem 1rem;
    border: 1px solid var(--color-primary);
    border-radius: 30rem;
    width: max-content;
    &-twitter {
    }
    &-linkedin {
    }
    &-github {
    }
    &-gram {
    }
  }
}
.container2 {
  width: 50%; //   margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;

  &__photo {
    width: 60%;
    margin-top: 4rem;
    border-radius: 3rem;
    background-blend-mode: screen;
  }
}
